// src/pages/ad/edit/ui/EditAdPage.scss

.edit-ad-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
  min-height: calc(100vh - /* header height */ 76px - /* footer height */ 60px);
  background: var(--bg-color);
  color: var(--text-color);
}